---
title: Cohiradia | Conservation of Historical Radiofrequency bands by Digital Archiving
---

{{% blocks/section color="white" type="row text-center" %}}
<p class="text-center">
  <img src="/icons/logo-large.svg" class="img-fluid w-25" alt="Cohiradia | Conservation of Historical Radiofrequency bands by Digital Archiving">
</p>
<p class="lead mt-5"><strong>Co</strong>nservation of <strong>Hi</strong>storical <strong>Ra</strong>diofrequency bands by <strong>Di</strong>gital <strong>A</strong>rchiving</p>


<div class="d-flex justify-content-center my-4" style="max-width:800px;margin:auto;">
  <a href="/en/docs/getting_started/" class="btn btn-secondary mx-2 flex-fill" style="min-width:120px;">Getting Started</a>
  <a href="/en/docs/documentation/" class="btn btn-secondary mx-2 flex-fill" style="min-width:120px;">Documentation</a>
  <a href="/en/archiv" class="btn btn-secondary mx-2 flex-fill" style="min-width:120px;">Archive</a>
</div>

{{% blocks/link-down color="info" %}} 
{{% /blocks/section %}}

{{% blocks/lead color="primary" %}}
At any time you please, imagine being able to tune in and listen to all the stations on the medium wave band on a specific day in 2006 on your vintage radio receiver as if all the stations were broadcasting live. Ideally, the playback should not be based on an artificial mock-up of stations, but on an authentic historical recording. This is probably the wish of many collectors, whose treasured and valuable radios will increasingly become 'silent' due to the rapidly progressing final shutdown of AM transmitters. The COHIRADIA project fulfils this wish exactly as this demo video shows. 
{{% /blocks/lead %}}


{{% blocks/section color="white" type="row" %}}

<h1 class="text-center">COHIRADIA essentially pursues three goals</h1>
<p style="height:50px">&nbsp;</p>

{{% blocks/feature icon="fa-solid fa-play" title="Playback" %}}

To give interested radio enthusiasts and collectors the opportunity to play back original radio signals on vintage radio receivers that were recorded in the past. These signals should not only contain a single station, but an entire frequency band (e.g., medium wave) with all the broadcast stations it contains at the correct carrier frequencies that existed at the time of recording. This allows all stations to be tuned again on the radio receiver.

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-box-archive" title="Archiving" url="/en/docs/documentation/Broadband Playback Basics/" %}}

To record and archive current broadcast bands especially in the AM range at various locations worldwide. The intention is to capture some broadcasts of all active transmitters before they have completely died out.

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-person-digging" title="Synthesis" url="/en/archiv/jukebox" %}}

To create artificial broadcast bands that allow the simulation of programs as they existed, for example, in the early days of broadcasting, for which no recordings exist. The COHI Jukebox section attempts to accomplish this topic by providing synthetic AM bands in the long and medium wave range that have modulated content and music of that era onto a variety of common carrier frequencies.

{{% /blocks/feature %}}

<p>

COHIRADIA follows an open-source policy, i.e., it provides freely downloadable, open-source software as well as a freely available data archive and at least partially free hardware solutions. 

</p>  

{{% /blocks/section %}}

{{% blocks/section type="row text-center" %}}

<iframe width="640" height="360" src="https://cohiradia.radiomuseum.org/download/docs/Documentation/COHIRADIA_TimeMachine_English_YT.mp4" frameborder="0" allowfullscreen></iframe>

{{% /blocks/section %}}
