---
title: Cohiradia
---

{{% blocks/section color="white" type="row text-center" %}}

{{% blocks/feature %}}
<a class="btn btn-lg btn-primary me-3 mb-4" href="docs/">
  Dokumentation <i class="fas fa-arrow-alt-circle-right ms-2"></i>
</a>
{{% /blocks/feature %}}
{{% blocks/feature %}}
<a class="btn btn-lg btn-secondary me-3 mb-4" href="https://github.com/bep">
  Demo<i class="fab fa-github ms-2"></i>
</a>
{{% /blocks/feature %}}
<p class="lead mt-5">Conservation of Historical Radiofrequency bands by Digital Archiving</p>

{{< blocks/link-down color="info" >}} 
{{% /blocks/section %}}

{{% blocks/lead color="primary" %}}
Stellen Sie sich vor, Sie könnten auf Ihrem historischen Radioempfänger jederzeit alle Sender des 
Mittelwellenbandes an einem Tag im Jahr 2006 durchstimmen und anhören, so als ob alle enthaltenen 
Stationen gerade jetzt senden würden. Klarerweise sollte die Wiedergabe nicht auf einer künstlichen 
Montage, sondern auf einer authentischen historischen Aufzeichnung beruhen. Das entspricht wohl dem 
Wunsch vieler Sammler, deren schöne und wertvolle Geräte aufgrund der rasch fortschreitenden 
endgültigen Abschaltung von AM-Sendern zunehmend ‚stumm‘ bleiben werden. Genau diesen Wunsch erfüllt 
das Projekt COHIRADIA, wie dieses Demo-Video zeigt.
{{% /blocks/lead %}}

{{% blocks/section type="row text-center" %}}

<iframe width="640" height="360" src="https://cohiradia.radiomuseum.org/download/docs/Documentation/COHIRADIA_deutsch_v2AbspannJazz.mp4" frameborder="0" allowfullscreen></iframe>

{{% /blocks/section %}}

{{% blocks/section color="white" type="row" %}}

{{% blocks/feature icon="fa-solid fa-microphone" title="Neues Setup" %}}

 Vereinfachtes Hardware-Setup durch SD-Karten-Image

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" url="https://github.com/google/docsy-example" %}}

Alle Komponenten sind Open Source.

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-microphone" title="Aufnahmen" url="https://www.radiomuseum.org/cohiradia" %}}

Wir hosten bereits viele Stunden von Aufnahmen.

{{% /blocks/feature %}}

{{% /blocks/section %}}



{{% blocks/section type="row text-center" %}}

# This is the another section with center alignment

{{% /blocks/section %}}




