---
title: Cohiradia
---

{{% blocks/section color="white" type="row text-center" %}}

{{% blocks/feature %}}
<a class="btn btn-lg btn-primary me-3 mb-4" href="docs/">
  Dokumentation <i class="fas fa-arrow-alt-circle-right ms-2"></i>
</a>
{{% /blocks/feature %}}
{{% blocks/feature %}}
<a class="btn btn-lg btn-secondary me-3 mb-4" href="https://github.com/bep">
  Demo<i class="fab fa-github ms-2"></i>
</a>
{{% /blocks/feature %}}
<p class="lead mt-5">Conservation of Historical Radiofrequency bands by Digital Archiving</p>

{{< blocks/link-down color="info" >}} 
{{% /blocks/section %}}

{{% blocks/lead color="primary" %}}
Stellen Sie sich vor, Sie könnten auf Ihrem historischen Radioempfänger jederzeit alle Sender des 
Mittelwellenbandes an einem Tag im Jahr 2006 durchstimmen und anhören, so als ob alle enthaltenen 
Stationen gerade jetzt senden würden. Klarerweise sollte die Wiedergabe nicht auf einer künstlichen 
Montage, sondern auf einer authentischen historischen Aufzeichnung beruhen. Das entspricht wohl dem 
Wunsch vieler Sammler, deren schöne und wertvolle Geräte aufgrund der rasch fortschreitenden 
endgültigen Abschaltung von AM-Sendern zunehmend ‚stumm‘ bleiben werden. Genau diesen Wunsch erfüllt 
das Projekt COHIRADIA, wie dieses Demo-Video zeigt.
{{% /blocks/lead %}}

{{% blocks/section type="row text-center" %}}

<iframe width="640" height="360" src="https://cohiradia.radiomuseum.org/download/docs/Documentation/COHIRADIA_deutsch_v2AbspannJazz.mp4" frameborder="0" allowfullscreen></iframe>

{{% /blocks/section %}}

<h1 class="text-center">COHIRADIA verfolgt im Wesentlichen drei Ziele</h1>

{{% blocks/section color="white" type="row" %}}





{{% blocks/feature icon="fa-solid fa-play" title="Abspielen" %}}

 interessierten Rundfunkfreunden und Sammlern die Möglichkeit zu geben, auf historischen Radioempfängern Original‐Radiosignale abzuspielen, die in der Vergangenheit aufgezeichnet worden sind. Diese Signale sollen nicht nur einen einzelnen Sender beinhalten, sondern ein ganzes Frequenzband (z.B. Mittelwelle) mit allen darin enthaltenen Rundfunkstationen auf den korrekten, zum Aufnahmezeitpunkt bestehenden Trägerfrequenzen. Damit können alle Sender auf dem Radioempfänger wieder durchgestimmt werden.

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-box-archive" title="Archivieren" url="https://github.com/google/docsy-example" %}}

aktuelle Rundfunkbänder insbesondere im AM-Bereich an verschiedenen Stellen weltweit aufzuzeichnen, um die noch existierende Landschaft aktiver Sender rechtzeitig in Archivdateien abzubilden, bevor die Technologie endgültig ausgestorben ist.


{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-person-digging" title="Simulieren" url="https://www.radiomuseum.org/cohiradia" %}}

künstliche Rundfunkbänder zu erzeugen, die es erlauben Programme zu simulieren, wie sie z.B. in der Frühzeit des Rundfunks existierten, für die es aber keine Aufzeichnungen gibt. Die Rubrik COHI Jukebox versucht sich diesem Thema zu nähern, indem sie synthetische AM-Bänder im Bereich der Lang- und Mittelwelle zur Verfügung stellt, die auf einer Vielzahl von üblichen Trägerfrequenzen Inhalte und Musik der damaligen Zeit aufmoduliert haben.

{{% /blocks/feature %}}

<p>

COHIRADIA verfolgt dabei eine open-source-Politik, d.h. es werden sowohl frei downloadbare, quelloffene Softwareals auch ein frei verfügbares Datenarchiv sowie zumindest teilweise freie Hardwarelösungen zur Verfügung gestellt. 

</p>

{{% /blocks/section %}}






